@inherits LayoutComponentBase

@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject NavigationManager NavigationManager;

<div class="page">
    <div class="sidebar" style="background-image:none;background-color: rgb(33,36,41);">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <a href="/Account/Register">Register</a>
            <AuthorizeView>
                <Authorized>
                    <a @onclick="Logout" href="javascript:void(0)">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/Account/Login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private async Task Logout()
    {
        var applicationStateProvider = (ApplicationAuthenticationStateProvider)AuthenticationStateProvider;

        await applicationStateProvider.UpdateAuthenticationStateAsync(null);
        NavigationManager.NavigateTo("/");
    }
}
