@page "/Account/Register"
@using Microsoft.Extensions.Logging
@using Microsoft.AspNetCore.Components
@using DataMarkup.Entities.Parameters.Account

@inject NavigationManager NavigationManager
@inject DataMarkupClient DataMarkupClient;
@inject ILogger<RegisterParameters> Logger


<div class="container-fluid float-left">
    <div class="row">
        <div class="col-md-6">
            <EditForm Model="@_registerParameters" OnValidSubmit="@HandleValidSubmit" On>
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <h2>User registration</h2>
                <div class="form-group">
                    <label>Username:</label>
                    <InputText id="username" class="form-control w-50 mb-3" @bind-Value="_registerParameters.Username"/>
                    <ValidationMessage For="() => _registerParameters.Username"/>
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <InputText id="email" class="form-control w-50 mb-3" @bind-Value="_registerParameters.Email"/>
                    <ValidationMessage For="() => _registerParameters.Email"/>
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <InputText id="password" class="form-control w-50 mb-3" @bind-Value="_registerParameters.Password"/>
                    <ValidationMessage For="() => _registerParameters.Password"/>
                </div>
                <div>
                    <input class="btn btn-outline-primary" type="submit" @onclick="SubmitClickAsync"/>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code
{
    private readonly RegisterParameters _registerParameters = new();

    private async void SubmitClickAsync()
    {
        // var statusCode = await DataMarkupClient.RegisterAsync(_registerParameters);
        //
        // Console.WriteLine(statusCode.ToString());
        // if (statusCode.IsSuccesStatusCode())
        //     NavigationManager.NavigateTo("");
    }

    private void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");

        // Process the valid form
    }
}